@media screen and (min-width: 320px) {
    .wrapper {
        display: grid;

        grid-template-columns: 260px 60px auto 60px auto 10px;
    }

    .logo {

        position: relative;
    }

    h2, h4 {
        color: white;
        font-weight: bold;
    }

    .logo > h2 {
        font-weight: 1000;
        padding-top: 15px;
        margin: 0 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;


    }

    .icon {
        position: relative;
    }

    .icon > img {
        cursor: pointer;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
    }

    .avatar {
        grid-area: 1 / 4 / 2 / 5;
        position: relative;
    }


    .avatar > img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .name {
        min-width: 100px;
        max-width: 200px;
        grid-area: 1 / 5 / 2 / 6;
        position: relative;
        display: flex;
    }

    .name > h4 {
        /*  display: inline-block;*/
        overflow: hidden;
        padding-top: 20px;
        margin: auto 0;
        position: absolute;
        top: 0;
        text-align: right;
        width: auto;
        height: 40px;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .acc {
        position: absolute;
        top: 50px;
        left: calc(100% - 240px);
        width: 240px;
        height: 240px;
        border-radius: 6px;
        background-color: #FFFFFF;
    }

    .arrow {
        grid-area: 1 / 6 / 2 / 7;
        position: relative;
        margin-right: 50px;
    }

    .arrow > img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 5px;
        height: 5px;
    }
}

@media screen and (max-width: 320px) {
    .arrow {
        display: none;
    }

    .wrapper {
        display: grid;
        grid-template-columns: auto 100px
    }

    .logo {
        position: relative;
    }

    h2, h4 {
        color: white;

        font-family: 'Roboto', sans-serif;
    }

    .logo > h2 {
        font-family: 'Roboto', sans-serif;
        padding-top: 15px;
        margin: 0 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
    }

    .icon {
        position: relative;
    }

    .icon > img {
        cursor: pointer;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
    }

    .avatar {
        display: none;
    }


    .avatar > img {
        display: none;
    }

    .name {
        display: none;
    }

    .name > h4 {
        display: none;
    }

    .acc {
        position: absolute;
        top: 50px;
        left: calc(100% - 240px);
        width: 240px;
        height: 240px;
        border-radius: 6px;
        background-color: #FFFFFF;
    }

}

@media screen and (max-width: 485px) and (min-width: 385px) {
    .name {
        display: none;
    }

    .name > h4 {
        display: none;
    }
}
@media screen and (max-width: 385px) and (min-width: 320px) {
    .wrapper {
        display: grid;
        grid-template-columns: 260px 60px
    }
    .acc {
        display: none;
    }

    .avatar {
        display: none;
    }
    .name {
        display: none;
    }
    .arrow {
        display: none;
    }
}

