.home:hover > img, .vector:hover > img, .gear:hover > img, .door:hover > img{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1)
}

.home > img, .vector > img, .gear > img, .door > img, .home > div, .vector > div, .gear > div, .door > div, .avatar>img, .avatar>div {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

.home:hover, .vector:hover, .gear:hover, .door:hover, .avatar:hover {
    background-color: #89B0AE;
}
@media screen and (min-width: 320px) {
    .main {
        display: grid;
        grid-template-rows: 20px 60px 60px 60px auto 60px;
        grid-template-columns: 60px;
    }

    .homeName, .vectorName, .gearName, .doorName {
        display: none;
    }
    .avatar{
        display: none;
    }

    .home, .vector, .gear, .door {
        position: relative;
        cursor: pointer;
    }

    .home {
        grid-area: 2 / 1 / 3 / 2;
    }

    .homeIcon {

    }

    .vector {
        grid-area: 3 / 1 / 4 / 2;
    }

    .gear {
        grid-area: 4 / 1 / 5 / 2;
    }

    .door {
        grid-area: 6 / 1 / 7 / 2;
    }

}
@media screen and (max-width: 320px) {
    .main {
        display: none;
    }
}